@font-face {
  font-family: "google";
  src: url(https://fonts.gstatic.com/s/googlesans/v14/4UaGrENHsxJlGDuGo1OIlL3Owp4.woff2);
}

.heading {
  display: flex;
  /*justify-content:center;*/
  /*align-items:center;*/
  font-family: "google";
  color: black;
  margin: 20px;
}
.heading > p {
  font-weight: 800;
}
.home__land {
  /* margin-top: 70px; */
  height: 80vh;
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}
.home__row {
  width: 100%;
}
.upper__heading {
  font-weight: 600;
  font-size: 45px;
  font-family: google;
}
.lower__heading {
  font-size: 20px;
  color: grey;
  padding-left: 10px;
  font-family: google;
}
.image__holder {
  display: flex;
  justify-content: center;
}
.image__holder > img {
  object-fit: contain;
  height: 450px;
}
.head__holder {
  display: flex;
  justify-content: center;
}
.button__holder {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.button__holder > a > button {
  margin: 0px;
  border: 0px;
  border-radius: 20px;
  background-color: #5af6de;
  font-size: 40px;
  font-weight: 600;
  padding: 10px 20px 10px 20px;
}
#info {
  margin-top: 200px;
}
.work__head {
  display: flex;
  justify-content: center;
  align-items: center;
}
.work__head > span {
  font-size: 45px;
  font-weight: 600;
  font-family: ubuntu;
}
.works {
  background-color: rgb(112, 41, 162);
  color: white;
  padding: 3px 7px 3px 7px;
  border-radius: 10px;
}
.create__card {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 50px;
}
.create__card > a > button {
  margin: 0px;
  border: 0px;
  border-radius: 20px;
  background-color: #1a9adf;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  color: white;
  font-family: ubuntu;
  transition: 0.25s ease-out;
}
.create__card > a > button:hover {
  background-color: #1279b1;
  box-shadow: 0 4px 8px rgb(0 0 0 / 13%);
  font-size: 22px;
}
